{% extends "base.html" %}
{% load static %}
{% block content %}
  <h1>Todo</h1>
  {% if active_todos %}
    {% for todo in active_todos %}
      {% include 'todo_app/todo_element.html' with todo=todo %}
    {% endfor %}
  {% else %}
    <p>
      All todos are finished.</p>
  {% endif %}
  <h1>Completed Todos</h1>
  {% if done_todos %}
    {% for todo in done_todos %}
      {% include 'todo_app/todo_element.html' with todo=todo %}
    {% endfor %}
  {% else %}
    <p>No todos finished yet.</p>
  {% endif %}
  <hr/><br/>
  <a href={%url 'todo-create'%}>Create new Todo</a>
{% endblock content %}
{% block javascript %}
  {{ block.super }}
  <script src="{% static 'todo_app/todo_app.js' %}"></script>
{% endblock javascript %}